<div id="list">
	<p>At the moment there are <%= @amount %> shrtn active.</p>
	<table>
		<tr>
			<th>shortcode</th>
			<th>url</th>
			<th>clicks</th>
		</tr>
	<% @url_shortcodes.each do |x| %>
		<tr>
			<td><%= x %></td>
		</tr>
	<% end %>
	</table>
</div>