<form method="post">
	<input type="text" value="<%= h(params[:url]) %>" name="url" id="url" />
	<input type="submit" value="shrtn" id="submit" />
</form>
<div class="clear"></div>
<% if @shortcode %>
	<div class="result">
		Your shortened URL is:
		<a href="http://app.com/<%= @shortcode %>">http://app.com/<%= @shortcode %></a>
	</div>
<% end %>

