<div id="list">
    <% if !@shorturls.blank? %>
        <table>
            <tr>
                <th>shrtn</th>
                <th>clicks</th>
                <th>destination</th>
            </tr>
            <% for links in @urls %>
            <tr>
                <td>
                    <a href="<%= urls.shortcode %>">
                        <%= shorturl.shortcode %>
                    </a>
                </td>

            </tr>
            <% end %>
        </table>
    <% else %>
        <p>No shrls yet!</p>
    <% end %>
</div>